.mySwiper {
  width: 100%;
  position: relative;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  height: 510px;
  display: flex;
  padding-top: 24px;

  @media (max-width: 1366px) {
    height: 350px;
  }

  @media (max-width: 800px) {
    height: 293px;
  }

  @media (max-width: 430px) {
    height: 580px;
  }

  @media (max-width: 320px) {
    height: 420px;
  }
}

.gradient {
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 50%;
  position: absolute;
  pointer-events: none;
}
